.venv/
.pytest_cache/
.ruff_cache/
.pyright/
__pycache__/
*.py[cod]

artifacts/
runs/
wandb/
checkpoints/

*.egg-info/
build/
dist/

**/tools/err/
**/tools/out/
**/target/
**/tools/vis.html

**/eval/**/main.cpp
**/a.out
eval/ahc063/main.cpp
